<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gra w 2001v2</title>
</head>
<body>
    <h1>Witaj w grze 2001!</h1>
        <h2>Zasady gry:</h2>
            <p>Rzucam 1-4 kostkami D6, wynik sumujemy. <br>
            jesli wyrzucisz 7 to twoj wynik jest dzielony przez 7 <br>
            jesli wyrzucisz 11 to twoj wynik jest mnozony przez 11 <br>
            Powidzenia!</p>
    <form action="" method="POST">
        <input type="hidden" name="player" value="0">
        <input type="hidden" name="computer" value="0">
        <input type="submit" value="OK">
    </form>

</body>
</html>